@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.background-radial-gradient {
  background-image: url(pxfuel.png);
  height: 144vh;
  background-position: center;
  background-size: cover;
}

#card {
  margin-top: 100px;
  right: 34%;
  width: 450px;
  margin: 100px auto;
  text-align: center;
  position: absolute;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(8px);
}
.form-outline > input {
  background-color: #ececec77;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  width: 270px;
  height: 80px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.check-box {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: -40px;
  opacity: 0;
}

.check-box svg {
  width: 40px;
  margin: 20px;
}

svg path {
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}

.active {
  background: #ff2b75;
  transition: 1s;
}

.active .check-box {
  right: 0;
  opacity: 1;
  transition: 1s;
}

.active p {
  margin-right: 125px;
  transition: 1s;
}

.active svg path {
  stroke-dashoffset: 0;
  transition: 1s;
  transition-delay: 1s;
}

.radio-group {
  margin-top: 5px;
}

.radio-label {
  margin-right: 10px;
}

.toggle-password {
  position: absolute;
  top: 83.5%;
  right: 60px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666; /* Icon color */
  font-size: 18px; /* Icon size */
}

.toggle-password:hover {
  color: #333; /* Hover color */
}
